@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: transparent;
}

*:focus,
*:focus-visible {
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  /* background: url(assets/video-1.mp4); */
  background-color: #fff;
  color: #000;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background: #fff;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-family: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#background-video,
.head-img-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  /* aspect-ratio: 9/16; */
  /* z-index: 1; */
  transform: translate(-50%, -50%);
  object-fit: cover;
  /* object-fit: fill; */
  object-position: center center;
}

.headline {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 217, 0, 0.7);
  font-size: 3.4rem;
  width: 450px;
  color: #000;
  letter-spacing: 1px;
  margin-left: 12rem;
  padding: 2rem;
}

.headline span:first-child {
  font-size: 1.6rem;
  font-weight: 600;
}
.headline span:last-child {
  font-weight: 900;
}

.navigation {
  position: fixed;
  top: 0;
  margin: 0 auto;
  max-width: 1500px;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation .logo {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  filter: brightness(150%) contrast(150%);
  cursor: pointer;
}

.desktop-nav ul {
  text-transform: uppercase;
  display: flex;
  gap: 20px;
  padding-right: 10px;
}

.navigation .nav-item {
  letter-spacing: 0.5px;
  font-size: 2rem;
}

.navigation .nav-item .nav-a {
  padding: 1px 2px;
  border-radius: 2px;
  position: relative;
}
.navigation .nav-item .nav-a:hover {
  background-color: #fff;
  color: #000;
}

.nav-a .dropdown,
.dropper-dd {
  position: absolute;
  top: 0;
  left: 0%;
  transform: translate(0%, 25px);
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  gap: 15px;
  padding: 14px 18px 8px;
  border-radius: 5px;
}

.nav-a .dropdown.drop-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  left: 20%;
  transform: translate(-50%, 25px);
  padding: 28px;
  column-gap: 28px;
}

.nav-a .dropdown,
.nav-item .dropper-dd,
.nav-a .dropdown.drop-grid {
  display: none;
}

.position-relative {
  position: relative;
}

.nav-a:hover .dropdown,
.nav-item:hover .dropper-dd {
  display: flex;
}
.nav-a:hover .dropdown.drop-grid {
  display: grid;
}

.nav-a .dropdown .drop-item,
.nav-item .dropper-dd li a {
  width: max-content;

  border-bottom: 2px solid transparent;
}
.nav-a .dropdown .drop-item:hover,
.nav-item .dropper-dd li a:hover {
  border-color: #fff;
  transform: scale(1.07);
}

.nav-a .dropdown .drop-item {
  font-size: 1.6rem;
}

.navigation .menu {
  color: #fff;
  font-size: 5rem;
  cursor: pointer;
  display: none;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  /* right: 0; */
  bottom: 0;
  background-color: #fff;

  overflow-y: scroll;
  padding: 5rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* display: none; */
  width: 0;
  min-width: 0;
  height: 0;
  min-height: 0;
  transition: all 0.3s ease-in-out;
  scrollbar-width: none;
}

.mobile-nav.active {
  display: flex;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mobile-nav .nav-item {
  /* width: 250px; */
  width: 215px;
  font-size: 3rem;
  text-align: center;
  border-bottom: 2px solid #000;
  padding-bottom: 1rem;
}

.mobile-nav .nav-item .drop {
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.mobile-nav .nav-item .drop.active {
  height: auto;
  padding: 2rem;
}

.mobile-nav ion-icon {
  transform: translateY(4px);
}

.navigation .mobile-nav .nav-a {
  color: #000;
}

.navigation .mobile-nav .nav-a:hover {
  background-color: transparent;
  color: #000;
}

.mobile-nav .drop .item {
  border-bottom: 2px solid transparent;
  color: #000;
  font-size: 1.8rem;
}
.mobile-nav .drop .item:hover {
  border-bottom: 2px solid #000;
  transform: scale(1.07);
}

.mobile-nav .close {
  font-size: 5rem;
  color: #000;
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
  cursor: pointer;
}

main {
  overflow-x: hidden;
  padding: 2rem;
}

h3 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.about {
  display: flex;
  margin: 12rem 0;
}

.text-content {
  padding: 2rem;
  padding-right: 3rem;
}

.text-content p {
  font-size: 2.4rem;
  text-align: justify;
  line-height: 1.5;
  padding: 2rem 0;
}

main .main-img {
  width: 50rem;
  aspect-ratio: 16/9;
  border-radius: 06px;
  box-shadow: 0 0 7px #000;
  object-fit: cover;
  object-position: center center;
  filter: brightness(110%) contrast(110%);
}

/* PRODUCT SECTION */

.products {
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  /* margin: 10rem auto; */
  gap: 6rem;
  margin: 5rem 0;
}

.cards .card img {
  width: 22rem;
  transition: all 0.3s ease;
}

.card h5 {
  font-size: 3rem;
  letter-spacing: 2px;
  /* color: #fff; */
}

.card p {
  font-size: 2rem;
  letter-spacing: 2px;
  background-color: #ffd700;
  color: #000;
  font-weight: 800;
  font-size: 2.4rem;
  padding: 2px 8px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.card p:hover {
  filter: brightness(180%);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  gap: 2rem;
  box-shadow: 0 0 8px #000;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  filter: brightness(103%) contrast(120%);
  cursor: pointer;
  border-radius: 8px;
}

.card:hover,
.card:hover img {
  transform: scale(1.15);
}

/* CONTENT AREA */

.over {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  display: none;
}

.over.active {
  display: block;
}

.content-holder {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b2bcaa;
  width: 95%;
  padding: 5rem 2rem 3rem;
  text-align: justify;
  color: #000;
  font-size: 2.2rem;
  line-height: 1.5;
  z-index: 5;
  border-radius: 8px;
  display: none;
}

.content-holder.active {
  display: block;
}

h6 {
  font-size: 3rem;
  letter-spacing: 1px;
  padding: 2rem 0 0.5rem;
}

.content-holder li {
  list-style: inside;
  padding-left: 1rem;
}

.close-content {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 5rem;
  cursor: pointer;
}

/* CONTACT US SECTION */

.contact-us-container {
  flex-direction: column;
}

.contact-us {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 1rem;
}

.contact-us .map iframe {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 8px;
}

.contact-us .map {
  background-color: transparent;
  overflow: hidden;
  border-radius: 8px;
}

.address p {
  font-size: 1.6rem;
  padding: 1rem 0;
  line-height: 1.6;
  /* display: flex; */
}
.address p a {
  border-bottom: 2px solid transparent;
  /* transition: all 0.3s ease; */
  text-align: left;
}

.address p a:hover {
  border-bottom: 2px solid #000;
}

.address .caller {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.address p ion-icon {
  font-size: 2.4rem;
  transform: translateY(5px);
  color: steelblue;
  font-weight: bold;
}

.contact-us .form {
  display: flex;
  flex-direction: column;
}

.form > * {
  font-family: inherit;
}

.form label {
  font-size: 2.2rem;
  letter-spacing: 1px;
  padding: 2rem 0 0.2rem;
}

#full_name {
  text-transform: capitalize;
}

.form input,
.form textarea {
  font-size: 1.6rem;
  padding: 0.6rem 1rem;
  border: 2px solid #000;
  border-radius: 5px;
}

.form .btn {
  border: 2px solid #000;
  background-color: #ffd700;
  color: #000;
  font-size: 2.6rem;
  padding: 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 2rem 0;
  transition: all 0.2s ease;
}

.form .btn:hover {
  filter: brightness(120%) contrast(130%);
}
.form .btn:active {
  transform: scale(0.98);
}

footer.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #000;
  border-top: 2px solid #fff;
  margin-top: -8rem;
  flex-direction: row;
}

footer ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 2rem;
  gap: 4rem;
}

footer li {
  width: fit-content;
  text-align: center;
  border-bottom: 2px solid transparent;
}

footer li:hover {
  border-bottom: 2px solid #fff;
}

footer img {
  width: 15rem;
  aspect-ratio: 1;
}

.slider {
  width: 100%;
  margin: 5rem 0 12rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.slider .slide {
  padding: 1rem 2rem;
  height: 160px;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 8px 12px 3px rgba(0, 0, 0, 0.2);
  color: #680203;
  transition: all 0.6s ease-out;
}

.slide:hover {
  transform: translateY(-24px);
}

.slide img {
  width: 60px;
  aspect-ratio: 1;
}

.slide h6 {
  font-size: 1.8rem;
}

/* 976px */
@media (max-width: 61em) {
  .desktop-nav {
    display: none;
  }

  .navigation .menu {
    display: inline-block;
  }

  .about {
    flex-direction: column;
  }

  h3 {
    text-align: center;
  }

  main .main-img {
    width: 100%;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-us .map {
    width: 100%;
    aspect-ratio: 16/9;
    grid-row: 2/3;
    margin-top: 4rem;
  }

  .contact-us {
    grid-template-columns: 1fr;
  }

  section.reverse-flex {
    flex-direction: column-reverse !important;
  }
}

@media (max-width: 42em) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  footer.container {
    flex-direction: column-reverse;
    gap: 5rem;
  }

  .headline {
    font-size: 3.2rem;
    width: 450px;
    margin: 1rem;
  }
}

@media (max-width: 500px) {
  .mobile-nav .drop .item {
    font-size: 1.6rem;
  }

  #background-video {
    background-size: contain;
  }

  main {
    padding: 1rem;
  }

  .text-content {
    padding: 1rem;
  }

  .text-content p {
    font-size: 2rem;
  }

  h3 {
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .content-holder {
    width: 102%;
    padding: 5rem 1rem 3rem;

    font-size: 1.6rem;
    line-height: 1.5;
    z-index: 5;
    border-radius: 8px;
  }

  h6 {
    font-size: 2.2rem;
    letter-spacing: 1px;
    padding: 2rem 0 0.5rem;
  }

  .content-holder li {
    padding-left: 1rem;
  }

  .headline {
    font-size: 2.8rem;
    width: 100%;
    margin: 1rem;
  }

  .headline span:first-child {
    font-size: 1.4rem;
    font-weight: 600;
  }

  footer ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2rem;
    gap: 4rem;
  }
}

@media (max-width: 20em) {
  .cards .card img {
    width: 100%;
    margin: 1rem;
    transition: all 0.3s ease;
  }

  .content-holder li {
    padding-left: 0;
  }

  .content-holder {
    font-size: 1.2rem;
  }
}
